.dos-container {
  margin: 100 auto 100;
  padding: 10px;
  background-color: grey;
  min-height: 600px;
  width: 70%;
}
.title {
  background-color: #fff;
  text-align: center;
  margin: 10px 10px 50;
  font-size: 20;
  
}
.input-container {
  text-align: center;
}
.list-container {
  margin: 20px; 
}
.list-item-menu {
  float: right;
}
.list-item {
  min-height: 50px;
  background-color: white;
  margin: 30px;
  padding: 5px;
}s
